{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <h1> Notes </h1>
    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes  %}
        <li class="list-group-item"> {{note.data}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onClick="deleteNote({{note.id}})">
    
            </button>
        </li>       
        {% endfor %}
    </ul>
   <form method="post">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br>
    <div align = "center">
        <button type="submit" class="btn btn-primary"> Add Note</button>
    </div>
   </form>        
{% endblock content %}